@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
}

@keyframes wlot {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(3000px);
        
    }
}

/*reset*/
* {
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    
}

:any-link {
    text-decoration: none;
    color: black;
}

:any-link:hover {
    border-bottom: solid 2px #3966f8;
}


/*grid container for whole page*/
.container {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 3fr 5fr;
    overflow-y: auto;
    
}



/*left-column menu container*/
.left__column {
    display: grid;
    left: -3000px;
    position: relative;
    grid-template-rows: 7fr 3fr 3fr;
    background-color: rgba(57, 102, 248, 0.1);
    animation: wlot 1s ease-out forwards;
}

.left__column--container {
    
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #3966f8;
    margin: 10% 10% 5% 10%;
    padding-bottom: 5%;
}

.left__column img {
    display: inline-block;
    border-radius: 50%;
    width: 30%;

}

.left__column h1 {
    padding-left: 10%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   
    
}

.left__column p {
    padding-left: 10%;
    letter-spacing: 4px;
}

.left__column--menu {
    padding-left: 10%;
    
}

.left__column--menu li {
padding: 0.5em 0;
list-style: none;
font-weight: bold;
font-size: 1.2em;
}




/*middle column with photo background*/
.middle__column {
    display: grid;
    grid-template-rows: 1fr;
    background: url(../img/mama_podnosi_dziecko.jpg);   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: -3000px;
    position: relative;
    animation: wlot 1s ease-out forwards;
    animation-delay: 0.3s;
    
}




/*right column with content*/
.right__column {
    display: grid;
    grid-template-rows: 0.5fr 4fr 4fr 2fr 0.5fr;
    background-color: rgba(57, 102, 248, 0.1);
    left: -3000px;
    position: relative;
    animation: wlot 1s ease-out forwards;
    animation-delay: 0.4s;
    
}

.right__column div:nth-child(3) {
    padding-top: 4%;
    

}


.right__column h1 {
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-bottom: 2%;
}

.right__column p {
    padding-left: 5%;
    line-height: 1.7em;
    text-indent: 3em;
}