@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
}

@keyframes wlot {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(3000px);
        
    }
}

/*reset*/
* {
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    
}

:any-link {
    text-decoration: none;
    color: black;
}

:any-link:hover {
    border-bottom: solid 2px #3966f8;
}


/*grid container for whole page*/
.container {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 8fr;
    overflow-y: auto;
    background-image: url(../img/pexels-katie-e-3663036.jpg);
    background-size: 100%;
    
}



/*left-column menu container*/
.left__column {
    display: grid;
    left: -3000px;
    position: relative;
    grid-template-rows: 7fr 3fr 3fr;
    animation: wlot 1s ease-out forwards;
    margin: 4% 0 4% 4%;
}

.left__column:nth-child(1) {
    background-color:  rgba(255, 255, 255, 0.8);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.left__column:nth-child(n+1) {
    background-color:  rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.left__column--container {
    
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #3966f8;
    margin: 10% 10% 5% 10%;
    padding-bottom: 5%;
    background-color: none;
}

.left__column img {
    display: inline-block;
    border-radius: 50%;
    width: 30%;

}

.left__column h1 {
    padding-left: 10%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   
    
}

.left__column p {
    padding-left: 10%;
    letter-spacing: 4px;
}

.left__column--menu {
    padding-left: 10%;
    
}

.left__column--menu li {
padding: 0.5em 0;
list-style: none;
font-weight: bold;
font-size: 1.2em;
}


/*right column with content*/
.right__column {
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
    left: -3000px;
    position: relative;
    animation: wlot 1s ease-out forwards;
    animation-delay: 0.4s;
    
    padding: 1%;
    

    
}

.right__column div {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(57, 102, 248, 0.1);
}

.right__column div:nth-child(1) {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.right__column div:nth-child(3) {
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    justify-content: center;
}

.right__column h1 {
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-top: 2%;
}

.right__column p {
    padding: 0 5% 0 5%;
    line-height: 1.7em;
    text-indent: 3em;
}

.cta__button {
    position: relative;
    background: linear-gradient(#e66465, rgb(255, 245, 0));
    border-radius: 16px;
    width: 300px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    font: 1.2em  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    border: solid 0.5px rgb(255, 245, 0);
    transition: 0.3s ease-in-out;
}

.cta__button:hover {
    background: linear-gradient(#e66465, #e66465);
    color: white;
    transition: 0.3s ease-in-out;
    border: solid 0.5px #e66465;
}