@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
}

@keyframes wlot {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(3000px);
        
    }
}

/*reset*/
* {
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    
}

:any-link {
    text-decoration: none;
    color: black;
}




/*grid container for whole page*/
.container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 8fr;
    overflow-y: auto;
    background-image: url(../img/pexels-katie-e-3663036.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}



/*left-column menu container*/
.left__column {
    display: grid;
    top: 0;
    bottom: 100%;
    max-height: 100vh;
    left: -3000px;
    position: relative;
    grid-template-rows: 7fr 3fr 3fr;
    animation: wlot 1s ease-out forwards;
    margin: 4% 0 4% 4%;
}

.left__column:nth-child(1) {
    background-color:  rgba(255, 255, 255, 0.8);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.left__column:nth-child(n+1) {
    background-color:  rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.left__column--container {
    
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #3966f8;
    margin: 10% 10% 5% 10%;
    padding-bottom: 5%;
    background-color: none;
}

.left__column img {
    display: inline-block;
    border-radius: 50%;
    width: 40%;

}

.left__column h1 {
    padding-left: 10%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   
    
}

.left__column p {
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 4px;
}

.left__column--menu {
    padding-left: 10%;
    
}

.left__column--menu li {
padding: 0.5em 0;
list-style: none;
font-size: 1em;
}

.left__column--menu a:hover {
    border-bottom: solid 2px #3966f8;
}






/*right column with content*/


.hero__image--mobile, .hero__image--mobile2, .menu__button, .mobile__menu, .mobile__menu--container, .mobile__contact, .mobile__photo {
    display: none;
}

.right__column {
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
    left: -3000px;
    position: relative;
    animation: wlot 1s ease-out forwards;
    animation-delay: 0.4s;
    padding: 1%;
}

.right__column--top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
}


.right__column h1 {
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-bottom: 1%;
}

.right__column p {
    padding: 0 5% 0 5%;
    line-height: 1.7em;
    text-indent: 3em;
}

.right__column a:hover {
    border-bottom: solid 2px #3966f8;
}

.right__column--middle {
    background-color: rgba(255, 255, 255, 0.8);
}

.right__column--help {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3%;
    margin: 0 2.5% 0 1%;
}

.right__column--help div {
    padding: 6% 3%;
    color: black;
    font-weight: 500;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.right__column--help div:nth-child(1) {
background-color: rgba(12, 46, 110, 0.6);
}

.right__column--help div:nth-child(2) {
    background-color: rgba(156, 167, 15, 0.8);
}

.right__column--help div:nth-child(3) {
    background-color: rgba(12, 46, 110, 0.6);
}

.right__column--help div:nth-child(4) {
    background-color: rgba(156, 167, 15, 0.8);
}

.right__column--bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cta__button {
    position: relative;
    background: linear-gradient(#e66465, rgb(255, 245, 0));
    border-radius: 16px;
    width: 300px;
    height: 60px;
    top: 50%;
    transform: translateY(-80%);
    font: 1.2em  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    border: solid 0.5px rgb(255, 245, 0);
    transition: 0.3s ease-in-out;
}

.cta__button:hover {
    background: linear-gradient(#e66465, #e66465);
    color: black;
    transition: 0.3s ease-in-out;
    border: solid 0.5px #e66465;
}

.right__column--copyright {
    position: absolute;
    font-size: 0.6em;
    bottom: 2em;
    right: 2em;
}








/*mobile version*/

@media screen and (max-width:768px) {
    
.container {
    display: block;
    background-color: #3966f8;
    background-image: none;
}

/* mobile menu */

.mobile__menu--container {
    display: block;
    
}

.menu__button {
    position: fixed;
    top: 1em;
    left: 1em;
    padding: 5px 8px;
    display: inline;
    cursor: pointer;
    background-color:rgba(57, 102, 248, 0.8);
    border: none;
    border-radius: 12px;
    margin: 0;
    transition: 0.5s ease-out;
    outline: none;
    z-index: 20;
    
}

.menu__button--clicked {
    
    transition: 0.5s ease-out;
    outline: none;
}

.menu__button--wrapper {
    width: 3em;
    height: 3em;
    display: inline-block;
    position: relative;
}

.menu__button--middle__line {
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s ease-out;

}


.menu__button--middle__line::before {
    width: 100%;
    height: 1.5px;
    background-color: white;
    position: absolute;
    top: -1em;
    left: 0;
    content: '';
    transition: 1s ease-out;
} 

.menu__button--middle__line::after {
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 1em;
    left: 0;
    content: '';
    transition: 1s ease-out;
}


.menu__button--clicked .menu__button--middle__line {
    background-color: transparent;
    transition: 0.5s ease-out;
}


.menu__button--clicked .menu__button--middle__line::before {
    transform: translateY(1em) rotate(45deg);
    transition: 0.5s ease-out;
}

.menu__button--clicked .menu__button--middle__line::after {
    transform: translateY(-1em) rotate(-45deg);
    transition: 0.5s ease-out;
}

.mobile__photo--active {
    position: fixed;
    display: inline;
    top: 1em;
    right: 1em;
    height: 4em;
    border-radius: 50%;
    z-index: 20;
}

.mobile__contact--active {
    position: fixed;
    display: inline-block;
    top: 14em;
    left: 1em;
    z-index: 20;
   
}

.mobile__contact--active img {
    width: 2.5em;
}

.mobile__menu--active {
    display: block;
    position: fixed;
    left: 0em;
    top: 0em;
    padding: 5em 0 5em 0;
    z-index: 10;
    width: 100%;
    background-color: rgba(12, 46, 110, 0.9);
    text-align: center;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
}

.mobile__menu--active a {
    display: block;
    padding-bottom: 3%;
    color: white;
    font-size: 1.5em;
}

.mobile__menu--active a:active {
    color: yellow;
}

/*mobile column*/


.left__column {
display: none;
}

.hero__image--mobile {
    display: block;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
   
}

.hero__image--mobile2 {
    display: block;
    width: 100%;
}

.right__column {
    display: block;
}

.right__column--top, .right__column--middle {
    padding-bottom: 20%;
    border-radius: 0;
}

.right__column h1 {
    padding: 10% 0 5% 0;
}


.right__column--help {
    display: flex;
    flex-direction: column;
   
}

.right__column--help div {
    max-width: 90%;
    margin: 2% 5% 2% 3%;
}

.right__column--bottom {
    padding: 10% 0 20% 0;
    display: flex;
    flex-direction: row;
}

.cta__button {
    position: relative;
    border-radius: 12px;
    width: 250px;
    height: 50px;
    top: none;
    transform: none;
    align-content: center;
    font: 1em  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

}






