.no_vacancies_message {
    border: solid red 1px;
    text-indent: 0em !important;
    text-align: center;
    font-size: 1.2em;
}

#right__column--signature {
    text-align: right !important;
    padding-right: 5%;
}

.right__column--help {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsible__button {
    height: 3em;
    text-align: left;
    font-size: 1.2em;
    width: 90%;   
}

.right__column--help button:nth-of-type(1) {
    background-color: rgba(57, 102, 248,0.2);
}

.right__column--help button:nth-of-type(2) {
    background-color:  rgba(57, 102, 248,0.4);
}

.right__column--help button:nth-of-type(3) {
    background-color: rgba(57, 102, 248,0.6);
}

.active, .collapsible__button:hover {
    background-color: rgb(255, 255, 255);
}

.collapsible__button::after {
    font-size: 0.7em;
    fill: white;
    content: '\02795';
    margin-right: 1em;
    float: right;
}

.active:after {
    content: "\2796";
  }

.collapsible__content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.collapsible__content--active {
    display: block;
    background-color: rgba(57, 102, 248,0.1);
    width: 90%;
    padding: 1em 0 1em 0;
    transition: max-height 0.4s ease-out;
}

.hero__image--mobile3, .hero__image--mobile4 {
    display: none;
} 


.right__column--middle2, .right__column--middle3 {
    padding: 1.5% 1.5% 2.5% 1.5%;
}

.right__column--bottom div {
    margin: 1em 0 1em 0;
}

.cta__button {
    position: relative;
    background: linear-gradient(#e66465, rgb(255, 245, 0));
    border-radius: 12px;
    padding: 0.5em;
    width: 300px;
    height: 60px;
    top: 50%;
    transform: translateY(-80%);
    text-align: center;
    font: 1.2em  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    transition: 0.5s ease-in-out;
}

.cta__button:hover {
    background: linear-gradient(#e66465, #e66465);
    transition: 0.5s ease-in-out;
    border: none !important;
    color: white;
}

@media screen and (max-width:768px) {
    
    #right__column--signature {
        padding-right: 2%;
    }

    .right__column--help {
        display: flex;
        flex-direction: column;
    }
    
    .right__column--help div {
        max-width: 98%;
    }
    
    .collapsible__button {
        font-size: 0.9em;
        font-stretch: condensed;
        width: 98%;
    }

    .collapsible__content--active {
        width: 98%;
    }

    .hero__image--mobile3, .hero__image--mobile4 {
        display: block;
        width: 100%;
    }

    .right__column--middle {
        background-color: white;
    }

    .right__column--middle2, .right__column--middle3 {
        padding-bottom: 4em;
    }

    .right__column--middle3 {
        background-color: white;
    }

    .right__column--bottom div {
        width: 90%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 2em 0 2em 0;
        
    }

    .cta__button {
        border-radius: 12px;
        padding: 16px;
        top: none;
        transform: none;
        font: 1.2em  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
    }

}