
/* Contact section */

.right__column--top, .right__column--middle {
    padding-bottom: 0em;
}

.right__column--middle {
    display: flex;
    flex-direction: row;  
}

.right__column--middle div:nth-child(1) {
    flex-basis: 50%;
}

.right__column--middle div:nth-child(2) {
    flex-basis: 50%;
}



.contact__data td {
    padding: 0.3em;  
}

.contact__data tr:nth-child(4) td:nth-child(2) {
    padding-top: 0;
}

.znanylekarz {
    padding-top: 1.5%;
}

@media screen and (max-width:768px) {
   
    .right__column--top, .right__column--middle {
        padding-bottom: 0em;
    }

    .right__column--middle {
        flex-direction: column;  
        margin: 4em 0 0 0;
    }

    .znanylekarz {
        margin: 0 0 4em 0;
    }
    
    .contact__section, .contact__map {
        background-color: white;
    }
}
