/*
.right__column--top {
     display: grid;
    grid-template: 25% 25% / 20% 80%;
} */

/*.right__column--top--photo {
    padding-right: 5%;
}*/

.right__column--top--text img {
   float: left;
   width: 25vw;
   border-radius: 12px;
    margin-right: 15px;
}

.right__column--bottom {    
    display: block;
}

@media screen and (max-width:768px) {

    .right__column--top--text img {
        display: none;
    }

    .right__column--top {
        display: block;
    }

    .right__column--middle {
        background-color: white;
    }
}