.right__column li {
    line-height: 1.7em;
}

.right__column--top {
    display: grid;
    grid-template: 0.3fr 5fr / 1.5fr 4.5fr;
}

.right__column--top--photo {
    padding-right: 5%;
}

.right__column--top--photo img {
   width: 100%;
   border-radius: 12px;
}

.right__column--middle {
    background-color: white;

}

.right__column--bottom {    
    display: block;
}

@media screen and (max-width:768px) {

    .right__column--top--photo {
        display: none;
    }

    .right__column--top {
        display: block;
    }

}