.right__column li {
    line-height: 1.7em;
}

.right__column--top {
    display: grid;
    grid-template: 25% 25% / 20% 80%;
}

.right__column--top--photo {
    padding-right: 5%;
}

.right__column--top--photo img {
   width: 100%;
   border-radius: 12px;
}

.right__column--bottom {    
    display: block;
}

@media screen and (max-width:768px) {

    .right__column--top--photo {
        display: none;
    }

    .right__column--top {
        display: block;
    }

    .right__column--middle {
        background-color: white;
    }
}